doctype html
html
   head 
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      // CSS
      include css.pug

      title= "Roommates"

   body.p-4
      block main
      

      // JS
      include scripts.pug
      