body {
   text-align: center;
   background: #23036a;
}

h1,
h4 {
   color: white;
   text-shadow: 0px 0px 3px black;
}

.modal-body {
   color: black;
   text-shadow: none;
}

button[type="submit"] {
   background: #6200ee !important;
}
i {
   cursor: pointer;
}

#tooltip {
   background: #333;
   color: white;
   font-weight: bold;
   padding: 4px 8px;
   font-size: 13px;
   border-radius: 4px;
}
