body {
   text-align: center;
   background-color: #270059;
}

h1,
h4 {
   color: white;
   text-shadow: 0px 0px 3px black;
}

.modal-body {
   color: black;
   text-shadow: none;
}

button[type="submit"] {
   background: #6200ee !important;
}
i {
   cursor: pointer;
}
