extends ../layout.pug 

block main
   h1 Roommates 
   hr(class='bg-light w-25 mx-auto')
   div(class='row w-100 m-auto')
      include ./includes/left.pug
      include ./includes/center.pug
      include ./includes/right.pug
