div(class='col-4')
   div(class='border rounded p-2 m-auto p-4')
      h4 Agregar Gasto 
      hr(class='bg-light w-25 mx-auto')
      div(class='d-flex flex-column align-items-center')
         h6 Roommate 
         select(id='roommateSelect' class='form-control w-50 mb-2')
         h6 Descripción 
         textarea(id='descripcion' class='form-control w-50 mb-2') Articulos de limpieza 
         h6 Monto 
         input(id='monto' class='form-control w-50 mb-2' value='1500')
      div(class='d-block my-1')
         button(class='btn text-white m-auto' onclick='agregarGasto()') Agregar
         