div#edit-modal.modal.fade(tabIndex='-1' aria-labelledby='edit-modal-label' aria-hidden='true')
   .modal-dialog(role='document')
      .modal-content 
         .modal-header 
            .modal-title.fs-2 Editar Gasto
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
         .modal-body
               form#edit-form(action=`/` method='POST')
                  input#hidden-id(type='hidden' name='_id')
                  .form-group.d-flex.flex-column.align-items-center
                     label(for='roommate-modal') Roommate 
                     input#roommate-modal.form-control.w-50.mb-2(type='text' name='name' readonly)
                  .form-group.d-flex.flex-column.align-items-center
                     label(for='description-modal') Descripción 
                     textarea#description-modal.form-control.w-50.mb-2(name='description') Artículos de limpieza
                  .form-group.d-flex.flex-column.align-items-center
                     label(for='amount-modal') Monto 
                     input#amount-modal.form-control.w-50.mb-2(name='amount' value=20000)
                  button#edit-btn.btn.btn-primary(type='submit') Editar 
       


                  
               
