div(class='col-4')
   div(class='border rounded p-2 m-auto p-4')
      div 
         h4 Historial 
         hr(class='bg-light w-25 mx-auto')
         table(class='table text-white')
            thead
               th Nombre 
               th Comentario 
               th Monto
            tbody(id='gastos')
               each gasto in gastos 
                  tr
                     td= gasto.name
                     td= gasto.comment
                     td(class='text-red')= gasto.amount